In [1]:
import pandas as pd
import numpy as np

In [2]:
# api
# register for api: https://api.nasa.gov/

"""
Account Email: livia.clarete@gmail.com
Account ID: 4bdfda5d-16c8-43b3-9ffa-a938e867cd5a
"""


key = 'Od10Yf1NsUxvFfvJhp60WUhhiGkdLruWzUEbFn5N'
api = 'https://api.nasa.gov/planetary/apod?api_key=CeEeHvVdfEW0ruGT5sDsLKvUmyktI1dwrwIVfphx'

In [3]:
file = '/Users/liviaclarete/Downloads/exportAwards-2019.csv'

In [10]:
df = pd.read_csv(file)
print(df.shape)
df.head(2)

(12104, 45)

,Awardee,Doing Business As Name,PD/PI Name,PD/PI Phone,PD/PI Email,Co-PD(s)/co-PI(s),Award Date,Estimated Total Award Amount,Funds Obligated to Date,Start Date,...,Primary State,Primary ZIP,Primary County,Primary Country,Primary Cong. District,Abstract at Time of Award,Publications Produced as a Result of this Research,Publications Produced as Conference Proceedings,ProjectOutcomesReport,Unnamed: 44
0,CONCORD UNIVERSITY,Concord University,Stephen C Kuehn,(304) 384-6322,sckuehn@concord.edu,NaN,"=""09/23/2019""","=""$149,437""","=""$149,437""","=""09/15/2019""",...,WV,24712-1000,Athens,US,"=""03""",The long term sustainability of federally fund...,NaN,NaN,NaN,NaN
1,"UNIVERSITY OF CHICAGO, THE",University of Chicago,Nicholas G Feamster,(609) 258-2203,feamster@uchicago.edu,NaN,"=""09/23/2019""","=""$19,921""","=""$19,921""","=""07/01/2019""",...,IL,60637-2612,Chicago,US,"=""01""",This workshop brings together leading research...,NaN,NaN,NaN,NaN

In [22]:
# clean price

In [48]:
df['Estimated Total Award Amount']

0        ="$149,437"
1         ="$19,921"
2        ="$209,116"
3        ="$750,000"
4        ="$137,942"
            ...
12099     ="$43,831"
12100    ="$129,073"
12101      ="$2,944"
12102    ="$510,081"
12103    ="$672,379"
Name: Estimated Total Award Amount, Length: 12104, dtype: object

In [75]:
def extract_number(col):
    return ''.join(re.findall(r'\d+', col))

In [72]:
def extract_number(col):
    col = re.sub('$', '', col)
    col = re.sub('"', '', col)
    return col

In [76]:
# extract numbers from the 'Estimated Total Award Amount' variable
df['award_amount'] = df['Estimated Total Award Amount'].apply(extract_number)

In [77]:
df['award_amount'].head(10)

0     149437
1      19921
2     209116
3     750000
4     137942
5     177287
6    2170000
7     489465
8     633744
9     589294
Name: award_amount, dtype: object

In [83]:
df['award_amount'] = pd.to_numeric(df.award_amount)
df.award_amount.head()

0    149437
1     19921
2    209116
3    750000
4    137942
Name: award_amount, dtype: int64

In [84]:
df.Awardee.value_counts()

UNIVERSITY OF ILLINOIS                                           230
RESEARCH FOUNDATION FOR THE STATE UNIVERSITY OF NEW YORK, THE    211
REGENTS OF THE UNIVERSITY OF MICHIGAN                            194
UNIVERSITY OF WASHINGTON                                         166
PENNSYLVANIA STATE UNIVERSITY, THE                               161
                                                                ...
STATE OF SOUTH DAKOTA-DIVISION OF OASI                             1
DIGITOUCH HEALTH LLC                                               1
EXPERCOIN LLC                                                      1
SAGEFOX CONSULTING GROUP, LLC                                      1
ANTITHESIS LLC                                                     1
Name: Awardee, Length: 1378, dtype: int64

In [86]:
df.groupby('Awardee').sum()

,Publications Produced as Conference Proceedings,Unnamed: 44,award_amount
Awardee,,,
"3D HEALTH SOLUTIONS, INC.",0.0,0.0,225000
"3DERM SYSTEMS, INC.",0.0,0.0,225000
3DFORTIFY INC.,0.0,0.0,225000
"3I NANOTECH, INC.",0.0,0.0,224491
6CRICKETS INC.,0.0,0.0,225000
...,...,...,...
"ZEBRA ANALYTIX, INC.",0.0,0.0,225000
"ZENOBIA THERAPEUTICS, INC.",0.0,0.0,225000
"ZEOVATION, INC.",0.0,0.0,224985
"ZOO MIAMI FOUNDATION, INC.",0.0,0.0,378836
"ZWITTERCO, INC",0.0,0.0,225000

In [87]:
# budget history
site = 'https://aerospace.csis.org/data/history-nasa-budget/'