# Extract emojis using Advertools
https://advertools.readthedocs.io/en/master/advertools.emoji.html

Kaggle Tutorial: https://www.kaggle.com/eliasdabbas/extract-entities-from-social-media-posts

In [157]:
import pandas as pd
import advertools as ad

In [158]:
# search for categories within the database
ad.emoji_search('Animals')

,codepoint,status,emoji,name,group,sub_group
0,1F435,fully-qualified,🐵,monkey face,Animals & Nature,animal-mammal
1,1F412,fully-qualified,🐒,monkey,Animals & Nature,animal-mammal
2,1F98D,fully-qualified,🦍,gorilla,Animals & Nature,animal-mammal
3,1F9A7,fully-qualified,🦧,orangutan,Animals & Nature,animal-mammal
4,1F436,fully-qualified,🐶,dog face,Animals & Nature,animal-mammal
...,...,...,...,...,...,...
142,2618,unqualified,☘,shamrock,Animals & Nature,plant-other
143,1F340,fully-qualified,🍀,four leaf clover,Animals & Nature,plant-other
144,1F341,fully-qualified,🍁,maple leaf,Animals & Nature,plant-other
145,1F342,fully-qualified,🍂,fallen leaf,Animals & Nature,plant-other
146,1F343,fully-qualified,🍃,leaf fluttering in wind,Animals & Nature,plant-other

In [211]:
s1 = 'stolen as usual but reply with 1d/solo songs in emojis and i’ll try to guess 👁Mouth👁 if this flops my dog posted it Woman runningDash symbol It’s so cute how they keep using emojis to give hints for each A to BOYZ cover though; Jacob =Leaf fluttering in wind Hyunjae = Bicycle Sunwoo = Smiling face with haloImp Juyeon =🕴🦮 🐕🐶 💙'
s2 = '=🕴🦮 🐕🐶 💙'
s3 = '🐵'
s4 = '🦧'
l = [s1, s2, s3, s4]
df = pd.DataFrame(l)
df.columns = ['text']
df

                                                text
0  stolen as usual but reply with 1d/solo songs i...
1                                           =🕴🦮 🐕🐶 💙
2                                                  🐵
3                                                  🦧

# retrieve emojis from a single string

In [212]:
# extract emojis
emoji_summary = ad.extract_emoji(s)

In [213]:
# keys of the returned dictionary
emoji_summary.keys()

dict_keys(['emoji', 'emoji_text', 'emoji_flat', 'emoji_flat_text', 'emoji_counts', 'emoji_freq', 'top_emoji', 'top_emoji_text', 'top_emoji_groups', 'top_emoji_sub_groups', 'overview'])

In [214]:
# subgroup
emoji_summary['top_emoji_sub_groups']

[('animal-mammal', 3),
 ('body-parts', 2),
 ('person-activity', 1),
 ('emotion', 1)]

In [215]:
# emoji description
emoji_summary['top_emoji_text']

[('eye', 2),
 ('person in suit levitating', 1),
 ('guide dog', 1),
 ('dog', 1),
 ('dog face', 1),
 ('blue heart', 1)]

# extract emojis from a list of strings and return a dataframe

In [284]:
from data_pipeline.pre_processing_text import emoji

In [281]:
return_df_count_emojis(l, overview=False)

                       emoji  n
0                        eye  2
1  person in suit levitating  2
2                  guide dog  2
3                        dog  2
4                   dog face  2
5                 blue heart  2
6                monkey face  1
7                  orangutan  1

In [233]:
emoji_summary = ad.extract_emoji(df['text'])['top_emoji_sub_groups']

In [217]:
emoji_summary

[('eye', 2),
 ('person in suit levitating', 2),
 ('guide dog', 2),
 ('dog', 2),
 ('dog face', 2),
 ('blue heart', 2),
 ('monkey face', 1),
 ('orangutan', 1)]

In [218]:
pd.DataFrame(emoji_summary)

                           0  1
0                        eye  2
1  person in suit levitating  2
2                  guide dog  2
3                        dog  2
4                   dog face  2
5                 blue heart  2
6                monkey face  1
7                  orangutan  1

In [186]:
df = pd.DataFrame()
for k, v in emoji_summary['top_emoji_text']:
    print(k, v)
    df[k] = v

eye 2
person in suit levitating 1
guide dog 1
dog 1
dog face 1
blue heart 1

In [192]:
ad.extract_emoji(s)['top_emoji_text']

[('eye', 2),
 ('person in suit levitating', 1),
 ('guide dog', 1),
 ('dog', 1),
 ('dog face', 1),
 ('blue heart', 1)]

In [187]:
pd.DataFrame(ad.extract_emoji(s)['top_emoji_text']).T

     0                          1          2    3         4           5
0  eye  person in suit levitating  guide dog  dog  dog face  blue heart
1    2                          1          1    1         1           1